doctype html
html
  head
    title  dance accedamic
    block scripts
    block style 
  body
    block content
    nav#navbar 
       ul 
         div#logo
          img(src="../statics/img/logo.png", alt="no", srcset="")
          | HBD
         li #[a(href="/") home]
         li #[a(href="/") about] 
         li #[a(href="/") contact us]
         li #[a(href="/") responceability]

    footer#footer 
      | here you wisite © harry.com |all rights